bin/
debug/
alib-52/
*.alib
*.log
*.mr
*.syn
*.pvl
*.svf
*.out
*.o
*.cl
*.dat
*~
.~*#
.nfs*
clog*
.cproject
.project
.settings
.metadata
transcript
*.wlf
syn/
syn/*
work/
work/*
*.dis
*.elf
*.map
*.mem
*.hex
a23/tools/amber-elfsplitter*.scd
*.v
*.scd.map
